<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<meta charset="ISO-8859-1">
<title>User Password Change</title>
</head>
<script>
function validateForm() {
    //collect form data in JavaScript variables
    var pw1 = document.getElementById("password").value;
    var pw2 = document.getElementById("passconfirm").value;
     if(pw1 != pw2) {
      document.getElementById("message2").innerHTML = "**Passwords are not same";
      return false;}}
</script>
<body>

<header>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A4D7A0;">

  <li class="nav-item active" style="list-style-type:none">
        <a class="nav-link"th:href="@{/employee/home}" style="color: white;">Home <span class="sr-only">(current)</span></a>
      </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 
      <li target="_top" class="nav-item dropdown" style="list-style-type:none">
        <a class="nav-link dropdown-toggle" href="#" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/employee/changepassword}">Change Password</a>
          <a class="dropdown-item" href="javascript: document.logoutForm.submit()">Logout</a><form name="logoutForm" th:action="@{/employee/logout}" method="post" th:hidden="true">
      <input hidden type="submit" value="Logout"/>
</form> 
      </li>
     

</nav>
</header>

<br>

   <center> <h2>User Password Change</h2></center>
     
         
    <form th:action="@{/employee/change_password}" onsubmit ="return validateForm()"  
			method="post" style="max-width: 800px; margin: 0 auto;">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-6 col-form-label">Enter Current password: </label>
				<div class="col-8">
					<input type="password" id="oldpassword" name="oldpassword" class="form-control" required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-6 col-form-label">Enter New Password: </label>
				<div class="col-8">
					<input type="password" id="password" name="password" class="form-control" 
							required minlength="6" maxlength="10"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-6 col-form-label">Re-enter New Password: </label>
				<div class="col-8">
					<input type="password" id="passconfirm" class="form-control" 
							required minlength="6" maxlength="10"/>
				</div>
			</div>	
			<span id = "message2" style="color:red"> </span>	
			
			<div>
				<button type="submit" onclick="savePass()" class="btn btn-primary">Submit</button> 
			</div>
		</div>
		</form>



</body>
</html>