<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Homepage</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A4D7A0;">

  <li class="nav-item active" style="list-style-type:none">
        <a class="nav-link"th:href="@{/employee/home}" style="color: white;">Home <span class="sr-only">(current)</span></a>
      </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 
      <li target="_top" class="nav-item dropdown" style="list-style-type:none">
        <a class="nav-link dropdown-toggle" href="#" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/employee/changepassword}">Change Password</a>
          <a class="dropdown-item" href="javascript: document.logoutForm.submit()">Logout</a><form name="logoutForm" th:action="@{/employee/logout}" method="post" th:hidden="true">
      <input hidden type="submit" value="Logout"/>
</form> 
      </li>
     

</nav>
</header>

<br>
    <div align="center">
        <h1>Homepage</h1>
        <p>
				<h3>Welcome <b style="color:#A4D7A0;">[[${#request.userPrincipal.principal.fullName}]]</b></h3>
			</p>
        <form th:action="@{/employee/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>      
    </div>
<div>

</div>
 <ul class="tilesWrap">
	<li>
		<h2><a th:href="@{/employee/personaldetails}" style="color:#335630;text-decoration:none;">Personal Details</a></h2>
		
		<p>
			View/Edit your personal details
		</p>
		
	</li><hr>
	<li>
		<h2><a th:href="@{/employee/applyLeave}" style="color:#335630;text-decoration:none;">Leave Application</a></h2>
		<p>
			Apply for leaves and see applied leaves
		</p>
		
	</li><hr>
	<li>
		<h2><a th:href="@{/employee/viewHRNotice}" style="color:#335630;text-decoration:none;">HR Notice Board</a></h2>
		
		<p>
			View HR notices
		</p>
		
	</li><hr>
	<li>
		<h2><a th:href="@{/employee/projectDetails}" style="color:#335630;text-decoration:none;">Project</a></h2>
		<p>
			View allocation and project details
		</p>
	</li><hr>
	<li>
		<h2><a th:href="@{/employee/viewDocuments}" style="color:#335630;text-decoration:none;">My Documents</a></h2>
		<p>
			View documents shared to you by HR
		</p>
		
	</li></hr>
</ul>
  
    
</body>
</html>